{% extends "layout.html" %}

{% block title %}
Exam attempts {%if year%}{{year}}{%endif%} {%if quarter %}Q{{quarter}}{%endif%}
{% endblock %}

{% block body %}

{% include 'dossier-quarter-selector.html' %}

{% if not archive_mode and year and quarter %}
<div class="notification">
    To create an exam dossier archive for this quarter, run the following command from the target directory:
    <textarea readonly onclick="event.target.focus(); event.target.select();">wget -q -r '--include-directories=exam_dossier*,exam_dossier,static' -N -E -k -p -nH --header="Cookie: archive=1; session={{session_cookie}}; theme=light" "{{base_url}}/exam_dossier_{{year}}q{{quarter}}"</textarea>
    <textarea readonly onclick="event.target.focus(); event.target.select();">7za a -r -t7z -m0=lzma2 -mx=9 -mfb=273 -md=29 -ms=8g -mmt=off -mmtf=off -mqs=on -bt -bb3 {{year}}q{{quarter}}.7z *</textarea>
</div>
{% endif %}

<table>
    {% for module in module_counts %}
        <tr>
            <td><a href="{{module.link}}">{{module.name}}</a></td>
            <td>{{module.count}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}